.fz-1 {
    font-size: 1em;
  }
  
  .fz-2 {
    font-size: 2em;
  }
  
  .fz-3 {
    font-size: 3em;
  }
  
  .col-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num));
  }
  
  .col-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num));
  }
  
  .col-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num));
  }
  
  .col-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num));
  }
  
  .col-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num));
  }
  
  .col-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num));
  }
  
  .col-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num));
  }
  
  .col-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num));
  }
  
  .col-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num));
  }
  
  .col-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num));
  }
  
  .col-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num));
  }
  
  .col-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num));
  }
  
  @media screen and (min-width: 768px) {
    .col-md-1 {
      --num: calc(12 / 1);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-md-2 {
      --num: calc(12 / 2);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-md-3 {
      --num: calc(12 / 3);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-md-4 {
      --num: calc(12 / 4);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-md-5 {
      --num: calc(12 / 5);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-md-6 {
      --num: calc(12 / 6);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-md-7 {
      --num: calc(12 / 7);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-md-8 {
      --num: calc(12 / 8);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-md-9 {
      --num: calc(12 / 9);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-md-10 {
      --num: calc(12 / 10);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-md-11 {
      --num: calc(12 / 11);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-md-12 {
      --num: calc(12 / 12);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  }
  @media screen and (min-width: 1200px) {
    .col-lg-1 {
      --num: calc(12 / 1);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-lg-2 {
      --num: calc(12 / 2);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-lg-3 {
      --num: calc(12 / 3);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-lg-4 {
      --num: calc(12 / 4);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-lg-5 {
      --num: calc(12 / 5);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-lg-6 {
      --num: calc(12 / 6);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-lg-7 {
      --num: calc(12 / 7);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-lg-8 {
      --num: calc(12 / 8);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-lg-9 {
      --num: calc(12 / 9);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-lg-10 {
      --num: calc(12 / 10);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-lg-11 {
      --num: calc(12 / 11);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  
    .col-lg-12 {
      --num: calc(12 / 12);
      width: calc(100% / var(--num) - 30px);
      margin: 0 15px 20px;
    }
  }
  * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    max-width: 1140px;
  }
  
  .imgFluid {
    width: 100%;
    display: block;
  }
  
  .productRadius {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px rgba(240, 240, 240, 0.5);
  }
  
  .imgHidden {
    overflow: hidden;
  }
  
  .imgScale:hover {
    transform: scale(1.2);
    
  }
  
  .aButton {
    display: block;
    width: 100%;
    height: auto;
  }
  
  body {
    background-color: rgb(242, 239, 239);
  }
  
  header {
    position: relative;
    background-color: #212120;
    padding: 20px 0;
  }
  @media screen and (min-width: 768px) {
    header {
      padding: 20px 10px 0px;
    }
  }
  
  header > div {
    margin: 0 auto;
  }
  
  .nav-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  @media screen and (min-width: 768px) {
    .nav-logo {
      padding: 0;
    }
  }
  .nav-logo > h1 > a {
    color: #d8cec0;
    
  }
  
  .icon-menu {
    position: relative;
    width: 15%;
    background-color: #68471b;
    color: blue;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #926718bb, -2px -2px 3px #fcb93cbb;
  }
  @media screen and (min-width: 768px) {
    .icon-menu {
      display: none;
    }
  }
  .icon-menu:hover + #top-nav {
    left: 0%;
  }
  
  .burger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .burger:before {
    content: "";
    display: block;
    position: relative;
    top: 7px;
    left: auto;
  }
  .burger:after {
    content: "";
    display: block;
    position: relative;
    top: -9px;
    left: auto;
  }
  .burger, .burger:after, .burger:before {
    height: 2px;
    width: 20px;
    background-color: #fff;
  }
  
  #top-nav {
    position: absolute;
    top: 100%;
    left: 100%;
    background-color: #b8b7b6;
    transition: all 0.3s ease-in;
    width: 100%;
    padding-top: 30px;
    z-index: 1;
  }
  @media screen and (min-width: 768px) {
    #top-nav {
      display: block;
      position: relative;
      top: auto;
      left: auto;
      background-color: transparent;
      padding-top: 0;
    }
  }
  #top-nav.active {
    display: block;
  }
  
  #top-nav > ul {
    display: flex;
    flex-wrap: wrap;
  }
  #top-nav > ul > li {
    position: relative;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    #top-nav > ul > li {
      width: calc(100% / 7);
      text-align: center;
    }
  }
  #top-nav > ul > li a {
    line-height: 50px;
    color: #dddad4;
    font-size: 1.2em;
    letter-spacing: 3px;
    padding: 0 10px;
  }
  @media screen and (min-width: 768px) {
    #top-nav > ul > li a {
      padding: 0;
    }
  }
  #top-nav > ul > li:hover {
    background-color: #b7b3ae;
  }
  @media screen and (min-width: 768px) {
    #top-nav > ul > li:hover {
      border-radius: 10px 10px 0 0;
      background-color: #6f6f6f;
    }
  }
  
  .inside-nav {
    display: none;
    width: 100%;
    background-color: #a1a09e;
    z-index: 1;
    overflow: hidden;
  }
  @media screen and (min-width: 768px) {
    .inside-nav {
      position: absolute;
      top: 100%;
      left: 0;
      border-radius: 0 0 10px 10px;
    }
  }
  .inside-nav li:hover {
    background-color: #b5b3b2;
  }
  
  .nav-li {
    z-index: 2;
  }
  .nav-li:after {
    content: "";
    position: absolute;
  }
  @media screen and (min-width: 768px) {
    .nav-li:after {
      display: none;
      border: 7px solid;
      border-color: #7c7c7b transparent transparent transparent;
      top: auto;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
  }
  .nav-li:hover {
    box-shadow: 0px 5px 10px rgba(75, 75, 75, 0.3);
  }
  .nav-li:hover:after, .nav-li:hover .inside-nav {
    display: block;
  }
  
  .product {
    margin: 0 auto;
    padding: 20px 15px;
  }
  @media screen and (min-width: 768px) {
    .product {
      padding-left: 0;
      padding-right: 0;
      padding: 50px 15px;
    }
  }
  .product > h2 {
    text-align: center;
    color: #414140;
    letter-spacing: 3px;
    font-size: 2em;
    padding-bottom: 30px;
  }
  
  .row-even {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .col > a {
    display: block;
    margin-bottom: 10px;
  }
  .col p:first-of-type {
    padding-bottom: 10px;
    font-size: 1.2em;
  }
  .col p:first-of-type > a {
    color: #383127;
  }
  .col p {
    padding-left: 15px;
  }
  
  .row-odd {
    display: flex;
    flex-wrap: wrap;
  }
  
  footer {
    background-color: #212120;
  }
  footer > div {
    margin: 0 auto;
    padding: 50px 0;
  }
  footer > div > div {
    margin-bottom: 30px;
  }
  footer p {
    text-align: center;
    color: rgb(214, 208, 195);
  }
  
  .footer-list {
    width: calc((100% - 80px) / 5);
  }
  .footer-list dt {
    text-align: center;
    color: rgb(214, 208, 195);
    line-height: 30px;
  }
  .footer-list dd {
    text-align: center;
  }
  .footer-list dd a {
    color: rgba(255, 255, 255, 0.5);
    line-height: 30px;
  }
  
  .porductList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .breadcrumb {
    margin-bottom: 20px;
  }
  .breadcrumb a, .breadcrumb span {
    color: #696969;
    font-size: 0.8em;
  }
  .breadcrumb a:hover {
    color: #68471b;
  }
  
  .leftTool {
    text-align: center;
  }
  
  .leatToolLi {
    border-radius: 5px;
    background-color: #68471b;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .leatToolLi:hover {
    background-color: #ffa947;
  }
  .leatToolLi a {
    color: #fff;
  }
  
  .rightTool h2 {
    font-size: 1.8em;
    color: #68471b;
    margin-bottom: 20px;
  }
  .rightTool h6 {
    font-size: 1.1em;
    font-weight: 400;
    color: #68471b;
    padding-left: 15px;
  }
  
  .new {
    position: relative;
  }
  .new .stick {
    position: absolute;
    background-color: #ffa947;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    top: 10px;
    left: 10px;
    box-shadow: 2px 2px 5px rgba(105, 105, 105, 0.8);
    z-index: 1;
  }
  .new .stick:after {
    content: "new";
    display: block;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .news {
    margin: 0 auto;
    padding: 30px 0;
  }
  
  .post {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    .post {
      padding-left: 0;
      padding-right: 0;
    }
    .post:nth-child(even) .imgWrap {
      order: 2;
    }
  }
  
  .imgWrap {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    .imgWrap {
      margin-bottom: 0;
    }
  }
  
  .postInfo {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    .postInfo {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .postInfo h6, .postInfo p {
    text-align: center;
  }
  .postInfo h6 {
    line-height: 70px;
    font-size: 2em;
    background-color: #ffa947;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 20px;
  }
  .postInfo p {
    line-height: 50px;
    font-size: 1.5em;
    color: #68471b;
  }